@use '/styles/base/variables' as *;
@use '/styles/base/mixins' as *;

.main {
  min-height: 85vh;
  overflow: hidden;

  @include mq('desktop') {
    overflow: hidden;
  }
  
  .container {
    position: relative;
    min-height: 85vh;
    padding-inline: .5rem;

    @include mq('desktop') {
      display: flex;
      max-width: 70rem;
    }
  }

  &__img {
    order: 0;
    max-width: 600px;
    object-fit: contain;
    margin: 0 auto;
    margin-top: 2rem;

    @include mq('desktop') {

      position: absolute;
      top: 50%;
      left: 45%;
      max-width: 800px;
      margin: 0;
      margin-left: 1.5rem;
      transform: translateY(-50%);
    }

  }

  &__section {

    display: flex;
    flex-direction: column;
    align-items: center;
    order: -1;
    margin: 2rem auto 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-inline: 1.5rem;
    text-align: center;


    @include mq('desktop') {
      align-items: flex-start;
      align-self: center;
      max-width: 500px;
      margin: 0;
      margin-top: 1rem;
      padding-bottom: 1rem;
      text-align: left;
    }

    &__new {
      color: $neutral-gb;
      letter-spacing: 3px;
    }
    
    &__span {
      margin-right: 1rem;
      padding: .25rem .75rem;
      border-radius: 1rem;
      background-color: $neutral-db;
      color: $neutral-lgb;
      font-weight: 600;
      letter-spacing: 1px;
    }

    &__title {
      max-width: 20ch;
      margin: 1rem 0;
      color: $neutral-db;
      font-size: $fs-4xl;
      line-height: 1;

      @include mq('desktop') {
        margin: 1.5rem 0;
        font-size: $fs-6xl;
      }
    }

    &__content {
      max-width: 28ch;
      margin-bottom: 1.5rem;
      color: gray;
      font-size: $fs-lg;

      
      @include mq('desktop') {
        margin-bottom: 2.5rem;
      }

    }

    &__button {
      width: 150px;
      margin-right: 1rem;
      padding: .75rem 1rem;
      transition: .2s ease;
      border: none;
      border-radius: .25rem;
      background-color: $primary-red;
      color: $neutral-lgb;
      font-size: .75rem;
      font-weight: 600;
      letter-spacing: 1px;
      cursor: pointer;

      &:hover {
        opacity: .7;
      }

      @include mq('desktop') {
        width: 185px;

        padding: 1rem 1.25rem;
        font-size: .875rem;
      }
    }

    .button__span {
      color: $neutral-gb;
      letter-spacing: 1px;

      @include mq('desktop') {
        letter-spacing: 3px;
      }
    }
  }
}