@use '/styles/base/variables' as *;

.main {

  .container {
    // position: relative;
    // height: 300px;
    padding: 0;
  }

  &__img {
    // position: absolute;
    // top: 50px;
    // left: 95px;
    max-width: 500px;
    // transform: scale(1.5);
  }

  &__section {
    padding: 2rem;

    &__new {
      color: $neutral-gb;
      letter-spacing: 3px;
    }
    
    &__span {
      margin-right: 1rem;
      padding: .25rem .75rem;
      border-radius: 1rem;
      background-color: $neutral-db;
      color: $neutral-lgb;
      font-weight: 600;
      letter-spacing: 1px;
    }

    &__title {
      margin: 1rem auto;
      color: $neutral-db;
      font-size: $fs-4xl;
      line-height: 1;
    }

    &__content {
      color: gray;
      font-size: $fs-lg;
    }

    &__button {
      width: 150px;
      margin-top: 1rem;
      margin-right: 1rem;
      padding: .75rem 1rem;
      border: none;
      border-radius: .25rem;
      background-color: $primary-red;
      color: $neutral-lgb;
      font-size: .75rem;
      font-weight: 600;
      letter-spacing: 1px;
    }

    .button__span {
      color: $neutral-gb;
      letter-spacing: 1px;
      
    }
  }
}